.contenantGlogal{
    border: solid 1px;
    height: 500px;
    width: 600px;
    display: flex;
  align-items: center;
    margin-top: 100px;
    justify-items: center;
    justify-content: center;
  

background: rgba(252, 247, 247, 0.956);
}
/* .input-group{
    height: 150%;
} */
input{
    height: 30px;
    width: 300px;
}
body{
    display: flex;
    justify-content: center;
    
}
.opa{
    position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: -3px;

background: rgba(0, 0, 0, 0.8);

}